In [174]:
import pandas as pd, math as math, numpy as np

In [17]:
data_dict = {'cnt': {0: 1.0, 1: 0.0, 2: 0.0, 3: 1.0, 4: 0.0, 5: 0.0, 6: 598.0, 7: 39.0, 8: 69.0, 9: 144.0, 10: 892.0, 11: 274.0, 12: 310.0, 13: 64.0, 14: 8.0, 15: 2.0, 16: 1.0, 17: 0.0, 18: 0.0, 19: 0.0}, 'btc': {0: 5.37e-06, 1: 0.0, 2: 0.0, 3: 2.423e-05, 4: 0.0, 5: 0.0, 6: 0.03101744, 7: 0.00435173, 8: 0.01390671, 9: 0.04671655, 10: 0.58776252, 11: 0.29729073, 12: 0.80912991, 13: 0.18318792, 14: 0.34381397, 15: 0.01308732, 16: 0.01, 17: 0.0, 18: 0.0, 19: 0.0}, 'mvs': {0: 0.000521, 1: 0.0, 2: 0.0, 3: 0.000667, 4: 0.0, 5: 0.0, 6: 0.136903, 7: 0.013437, 8: 0.025296, 9: 0.050455, 10: 0.375403, 11: 0.119186, 12: 0.210278, 13: 0.026496, 14: 0.038102, 15: 0.000859, 16: 0.000339, 17: 0.0, 18: 0.0, 19: 0.0}}

In [286]:
df = pd.DataFrame.from_dict(data_dict)
df = df.drop('cnt', 1).assign(
    fr= lambda x: x.btc / x.mvs
    )
for index, row in df.iterrows():
    if row.mvs >= 0.005:
        df.loc[index, 'th'] = solve_t2(r=100, t=4, p=row.mvs, q=row.btc)
df

         btc       mvs         fr         th
0   0.000005  0.000521   0.010307        NaN
1   0.000000  0.000000        NaN        NaN
2   0.000000  0.000000        NaN        NaN
3   0.000024  0.000667   0.036327        NaN
4   0.000000  0.000000        NaN        NaN
5   0.000000  0.000000        NaN        NaN
6   0.031017  0.136903   0.226565   0.920152
7   0.004352  0.013437   0.323862   1.312739
8   0.013907  0.025296   0.549759   2.218411
9   0.046717  0.050455   0.925905   3.708913
10  0.587763  0.375403   1.565684   6.196037
11  0.297291  0.119186   2.494343   9.705896
12  0.809130  0.210278   3.847906  14.629364
13  0.183188  0.026496   6.913795  25.066610
14  0.343814  0.038102   9.023515  31.769451
15  0.013087  0.000859  15.235530        NaN
16  0.010000  0.000339  29.498525        NaN
17  0.000000  0.000000        NaN        NaN
18  0.000000  0.000000        NaN        NaN
19  0.000000  0.000000        NaN        NaN

In [264]:
thickness = 10.

In [265]:
#π(r*t)² - π(r/t)²
def aa(r=150, t0=1, p=1.):
    return p * (math.pi * (r+t0)**2 - math.pi * r**2)

#def tn(q=1, pct=1):
    
#aa(1)
#sum(df['mvs'])

#df.assign(area_is= df[''])

def solve_t2(r, t, p, q):
    
#     return max([
#         -((p2 * q2 * (p2 * q2 * r**2 + (2*r + t)))**0.5 + p2 * q2 * r)/(p2 /q2),
#         ((p2 * q2 * (p2 * q2 * r**2 + (2*r + t)))**0.5 - p2 * q2 * r)/(p2 /q2),
#     ])
    
    # http://www.wolframalpha.com/input/?i=solve((p*(%CF%80*(r%2Bx)%C2%B2-%CF%80r%C2%B2))%2F(%CF%80*(r%2Bt)%C2%B2-%CF%80r%C2%B2))%3Dq
    
    D = 2*p
    A = t*(2*r+t)
    B = (2*p*r)/(t*(2*r+t))
    C = ((4 * p**2 * r**2)/(t**2 * (2*r+t)**2)) + ((4*p*q)/(t*(2*r+t)))
    
    
    return max([
        - A * (B - C**0.5)/D,
        - A * (C**0.5 + B)/D
    ])
    return max([
        -((p2 * (p2 * r**2 + q2 * t * (2*r + t)))**0.5 + p2 * r)/p2,
        ((p2 * (p2 * r**2 + q2 * t * (2*r - t)))**0.5 - p2 * r)/p2
    ])



solve_t2(r=50, t=5, p=.5, q=10)

64.0175425099138

In [162]:
aa(r=150,t0=7.848028179005131, p=.5)/aa(r=150, t0=2, p=1)

2.0000000000000075

In [201]:
for t in df.itertuples():
    if t.btc != 0:
        print(solve_t2(40, 4, t.mvs, t.btc))

0.043266427458465186
0.15228283785935
0.9405162274845075
1.3378463351609733
2.245935995778258
3.716177418326015
6.109325175807356
9.377111599405616
13.78565150255931
22.634137795544884
28.058071181624733
41.97034814119569
67.29167919637926

In [235]:
r = []
for t in df.itertuples():
    r.append(solve_t2(100, 4, t.mvs, t.btc) if t.btc != 0 else 0)


#df.assign(t2=).to_dict()

data = pd.DataFrame().assign(
#    x=df['mvs']
#    x=np.round(np.exp(df.index/2),1),
    x=df.index,
    y=df['mvs'],
    z=pd.Series(r)
)

import json
json.dumps(
    [{"x": str(l.x), "y": l.y, "z": l.z} for l in data.itertuples()]
)
[{"x": str(l.x), "y": l.y, "z": l.z} for l in data.itertuples()]

[{'x': '0', 'y': 0.000521, 'z': 0.04204413650091179},
 {'x': '1', 'y': 0.0, 'z': 0.0},
 {'x': '2', 'y': 0.0, 'z': 0.0},
 {'x': '3', 'y': 0.000667, 'z': 0.14810381954655646},
 {'x': '4', 'y': 0.0, 'z': 0.0},
 {'x': '5', 'y': 0.0, 'z': 0.0},
 {'x': '6', 'y': 0.136903, 'z': 0.9201521519008062},
 {'x': '7', 'y': 0.013437, 'z': 1.312739414504801},
 {'x': '8', 'y': 0.025296, 'z': 2.218411004999955},
 {'x': '9', 'y': 0.050455, 'z': 3.708913280805528},
 {'x': '10', 'y': 0.375403, 'z': 6.1960368905825645},
 {'x': '11', 'y': 0.119186, 'z': 9.70589614855494},
 {'x': '12', 'y': 0.210278, 'z': 14.629363745215777},
 {'x': '13', 'y': 0.026496, 'z': 25.066610078476728},
 {'x': '14', 'y': 0.038102, 'z': 31.769451207333393},
 {'x': '15', 'y': 0.000859, 'z': 49.77380352890727},
 {'x': '16', 'y': 0.000339, 'z': 84.58276317190887},
 {'x': '17', 'y': 0.0, 'z': 0.0},
 {'x': '18', 'y': 0.0, 'z': 0.0},
 {'x': '19', 'y': 0.0, 'z': 0.0}]

In [262]:
solve_t2(r=100, t=4, p=1, q=10)

34.75904422338414

In [293]:
[
    solve_t2(r=1, t=1, p=1, q=x)
    for x in range(10)
]

[-0.0,
 1.0,
 1.6457513110645905,
 2.16227766016838,
 2.6055512754639896,
 3.000000000000001,
 3.358898943540674,
 3.69041575982343,
 4.0,
 4.291502622129181]